.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.join-us {
  background-color: var(--secondary-color);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Events Section */
.events-grid {
  display: grid;
  margin-bottom: 40px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.events-title{
    margin-top: 30px;
}
.event-item {
  background: white;
  padding: 20px;
  border-radius: 5px; 
  /* border: 1px solid var(--secondary-color); */
}

/* Footer */
.footer {
  padding: 20px;
  background: var(--primary-color);
  color: white;
  text-align: center;

}

.footer-nav a {
  margin: 0 10px;
  color: white;
}

.social-icons a {
  margin: 0 5px;
  color: white;
}
.navbar a {
  margin-left: 20px;
  color: white;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

/* Responsive styles for larger screens */
.weather .weather-container {
    flex-direction: row;
    gap: 2rem;
  }
  
  .weather .weather-icon img {
    width: 120px;
    height: auto;
  }
  
  .weather .weather-details {
    text-align: left;
  }
  
  .weather .temperature {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .weather .description {
    font-size: 1.2rem;
    color: #666;
  }
  
  .weather .location {
    font-size: 1rem;
    color: #999;
  }
  