@media screen and (min-width: 768px) {
  body{
    max-height: 100vh;
    overflow-x: hidden;
  }
  header img{
    margin-right: 50px;
  }
  nav{
      display: grid;
      grid-template-columns: repeat(4, 25%) !important; 
      background-color: black; 
      gap: 0;
      width: 100%;
    }
    main.go-up {
      margin-top:0px
    }
    header{
      display: flex;
      justify-content: center;
      align-items:center;
      padding: 15px 0 ;
    }
    div.name{
      font-size: 2.5rem;
    }
    .nav-box{
      height: 100%;
    }
    .nav-bar{
      padding: 0;
    }
    .box1, .box2, .box3, .box4{
      display:flex
    }
    .main-section {
      display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: 65% 35%;
      gap: 20px;
      justify-content: space-between;
      align-items: start;
      margin-top: 25px;
    }
    main{
      margin-top: 0px;
    }
    .main-section .card{
      box-shadow: var(--box-shadow);
      display: flex;
      flex-direction: column;
    }
    main h1 {
      color: var(--main-title);
      text-align: left;
      margin-top: 0px;
    }

    .activity{
      flex-direction: row;
      align-items: center;
      justify-content: left;
      width: 100%;
    }
    .burger-menu{
      display:none
    }
  } 